# Importing Data on R

### Import .txt file

In [10]:
txt_dataset = read.table("https://raw.githubusercontent.com/mkuthan/example-spark/master/src/main/resources/data/employees.txt", sep=",", header=FALSE, dec=".")
txt_dataset

   V1        V2        V3        V4
1  123234877 Michael   Rogers    14
2  152934485 Anand     Manikutty 14
3  222364883 Carol     Smith     37
4  326587417 Joe       Stevens   37
5  332154719 Mary-Anne Foster    14
6  332569843 George    ODonnell  77
7  546523478 John      Doe       59
8  631231482 David     Smith     77
9  654873219 Zacary    Efron     59
10 745685214 Eric      Goldsmith 59
11 845657245 Elizabeth Doe       14
12 845657246 Kumar     Swamy     14

### Import CSV File

In [13]:
csv_dataset <- read.csv("https://media.githubusercontent.com/media/datablist/sample-csv-files/main/files/organizations/organizations-1000.csv")
str(csv_dataset)

'data.frame':	1000 obs. of  9 variables:
 $ Index              : int  1 2 3 4 5 6 7 8 9 10 ...
 $ Organization.Id    : chr  "E84A904909dF528" "AAC4f9aBF86EAeF" "ad2eb3C8C24DB87" "D76BB12E5eE165B" ...
 $ Name               : chr  "Liu-Hoover" "Orr-Armstrong" "Gill-Lamb" "Bauer-Weiss" ...
 $ Website            : chr  "http://www.day-hartman.org/" "https://www.chapman.net/" "http://lin.com/" "https://gillespie-stout.com/" ...
 $ Country            : chr  "Western Sahara" "Algeria" "Cote d'Ivoire" "United States of America" ...
 $ Description        : chr  "Ergonomic zero administration knowledge user" "Ergonomic radical budgetary management" "Programmable intermediate conglomeration" "Synergistic maximized definition" ...
 $ Founded            : int  1980 1970 2005 2015 2010 2003 1994 1987 1977 1990 ...
 $ Industry           : chr  "Online Publishing" "Import / Export" "Apparel / Fashion" "Dairy" ...
 $ Number.of.employees: int  6852 7994 5105 9069 6991 3503 2762 7020 2709 5731 ...

###  Import from Excel File

In [1]:
install.packages("readxl")
library("readxl")

excel_dataset <- read_excel("my-file.xlsx")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

### Import from .sav file

In [ ]:
# Option-1 (Using haven Library)
library(haven)

# Option-1 (a)
int <- read_spss("./Documents/data/international.sav" , user_na =F)
int

# Option-1(b)
int2 <- read_sav("./Documents/data/international.sav", encoding = NULL, user_na = FALSE)
int2

In [ ]:
# Option-2 (Using foreign Library)
library(foreign)
int <- read.spss("./Documents/data/international.sav" ,user_na =F)
str(int)

# Save Dataset
write.foreign(int, "./Documents/data/int.sps")
write.foreign(int, "./Documents/data/int.txt", "./Documents/data/int.sps", package="SPSS")

### Import Data From STATA

In [ ]:
# Option - 1 (Using haven Library)
library(haven)

# Option-1(a)
florida <- read_dta("./Documents/data/florida.dta", encoding = NULL)
florida

# Option-1(b)
florida2 <- read_stata("./Documents/data/florida.dta", encoding = NULL)
florida2

In [ ]:
# Option-2 (Using foreign Library)
library(foreign)

florida3 <- read.dta("./Documents/data/florida.dta")
str(florida3)
View(florida3)

# Save Dataset
write.dta(florida3, "./Documents/data/florida.dta")

### Import Data From Web/URL

In [1]:
#Option -1: Use Base R
dataurl <- read.csv('https://raw.githubusercontent.com/Statology/Miscellaneous/main/basketball_data.csv')
dataurl

  player assists points
1 A       6      12
2 B       7      19
3 C      14       7
4 D       4       6
5 E       5      10

In [4]:
#Option -2: Use data.table Package
library(data.table)
dataurl2 <- fread('https://raw.githubusercontent.com/Statology/Miscellaneous/main/basketball_data.csv')

In [5]:
#Option -3: Use readr Package
library(readr)
dataurl3 <- fread('https://raw.githubusercontent.com/Statology/Miscellaneous/main/basketball_data.csv')

# Export Dataset

### To TXT file

In [ ]:
write.table(mydata, "dat.txt", quote = F, row.names = F, col.names = T, sep = " ")

### To CSV File

In [ ]:
write.table(mydata, "Downloads/Data/okaky.csv", row.names=F)

### Save an object to a file  (.rds / .rda)

In [ ]:
saveRDS(mydata, file = "dat.rds")

# Load
dat <- readRDS(file = "dat.rds ")

### Save multiple objects to a file

In [ ]:
save(data1, data2, file="mydataset.RData")

# Load
load("mydataset.RData")

### Save the entire Workspace

In [ ]:
save.image(file = "my_work_space.RData")

# Load
load("my_work_space.RData")