# Examining Data

In [ ]:
dataset <- read.csv("https://raw.githubusercontent.com/Gajapathy-Selvaraj/Stock_Market_Datasets_NSE/main/NIFTY_50(INDEX)from2000.csv")
# dataset

In [ ]:
# Dimension of data (Row, Column)
dim(dataset)

[1] 5058    6

In [ ]:
# Show the above 5 rows value
head(dataset)

  Date      Open    High    Low     Close   Volume
1 1/3/2000  1482.15 1592.90 1482.15 1592.20 0
2 1/4/2000  1594.40 1641.95 1594.40 1638.70 0
3 1/5/2000  1634.55 1635.50 1555.05 1595.80 0
4 1/6/2000  1595.80 1639.00 1595.80 1617.60 0
5 1/7/2000  1616.60 1628.25 1597.20 1613.30 0
6 1/10/2000 1615.65 1662.10 1614.95 1632.95 0

In [ ]:
# Show the column variable names
names(dataset)

[1] "Date"   "Open"   "High"   "Low"    "Close"  "Volume"

In [ ]:
# Show the class of the Column Variables
class(dataset$Close)

[1] "numeric"

In [ ]:
# Show all of the variable class name and its observations
str(dataset)

'data.frame':	5058 obs. of  6 variables:
 $ Date  : chr  "1/3/2000" "1/4/2000" "1/5/2000" "1/6/2000" ...
 $ Open  : num  1482 1594 1635 1596 1617 ...
 $ High  : num  1593 1642 1636 1639 1628 ...
 $ Low   : num  1482 1594 1555 1596 1597 ...
 $ Close : num  1592 1639 1596 1618 1613 ...
 $ Volume: int  0 0 0 0 0 0 0 0 0 0 ...

In [ ]:
# Count the Number of the Unique Value
length(unique(dataset$Volume))

[1] 1

In [ ]:
# Unique Value
unique(c(1,1,2,2,3))
length(unique(c(1,1,2,2,3)))
length(c(1,1,2,2,3))

[1] 1 2 3

[1] 3

[1] 5

In [ ]:
# Count the character value
table(dataset$Volume)

   0
5058

# Recoding Variables

In [ ]:
x <- rep(NA,3)
x
class(x)

[1] NA NA NA

[1] "logical"

In [ ]:
x <- c(NA, 1, NA, 3, 4)
x*2
mean(x)

[1] NA  2 NA  6  8

[1] NA

In [ ]:
mean(x, na.rm = TRUE)

[1] 2.666667

In [ ]:
# Check the class of the x variable
class(x)
is.na(x)
which(is.na(x))

[1] "numeric"

[1]  TRUE FALSE  TRUE FALSE FALSE

[1] 1 3

In [ ]:
# Show all of the value who have no missing value
index <- which(!is.na(x))
x[index]

[1] 1 3 4

## Example of Recoding Variable.

In [ ]:
test <- read.table(header=T, text='
                   subject sex control cond1 cond2
                   1   M    7.9  12.3  10.7
                   2   F     6.3  10.6  11.1
                   3   F     9.5  13.1  13.8
                   4   M    11.5  13.4  12.9
                   5   F    10.5   7.8  11.0
                   6   F    13.2   9.5  10.1
                   7   F    11.5  12.2  14.8
                   8   M    11.5  15.4  12.9')

test

  subject sex control cond1 cond2
1 1       M    7.9    12.3  10.7
2 2       F    6.3    10.6  11.1
3 3       F    9.5    13.1  13.8
4 4       M   11.5    13.4  12.9
5 5       F   10.5     7.8  11.0
6 6       F   13.2     9.5  10.1
7 7       F   11.5    12.2  14.8
8 8       M   11.5    15.4  12.9

In [ ]:
str(test)

'data.frame':	8 obs. of  5 variables:
 $ subject: int  1 2 3 4 5 6 7 8
 $ sex    : chr  "M" "F" "F" "M" ...
 $ control: num  7.9 6.3 9.5 11.5 10.5 13.2 11.5 11.5
 $ cond1  : num  12.3 10.6 13.1 13.4 7.8 9.5 12.2 15.4
 $ cond2  : num  10.7 11.1 13.8 12.9 11 10.1 14.8 12.9

In [ ]:
# Conver the Gender value - a
library(plyr)
test$scode <- revalue(test$sex, c("M"="1", "F"="2"))

# Conver the Gender value - b
test$scode2 <- mapvalues(test$sex, from = c("M", "F"), to = c("1", "2"))
str(test)

'data.frame':	8 obs. of  7 variables:
 $ subject: int  1 2 3 4 5 6 7 8
 $ sex    : chr  "M" "F" "F" "M" ...
 $ control: num  7.9 6.3 9.5 11.5 10.5 13.2 11.5 11.5
 $ cond1  : num  12.3 10.6 13.1 13.4 7.8 9.5 12.2 15.4
 $ cond2  : num  10.7 11.1 13.8 12.9 11 10.1 14.8 12.9
 $ scode  : chr  "1" "2" "2" "1" ...
 $ scode2 : chr  "1" "2" "2" "1" ...

In [ ]:
# Convert the Gender Value -c
test$scode3[test$sex=="M"] <- "1"
test$scode3[test$sex=="F"] <- "2"
test

  subject sex control cond1 cond2 scode scode2 scode3
1 1       M    7.9    12.3  10.7  1     1      1
2 2       F    6.3    10.6  11.1  2     2      2
3 3       F    9.5    13.1  13.8  2     2      2
4 4       M   11.5    13.4  12.9  1     1      1
5 5       F   10.5     7.8  11.0  2     2      2
6 6       F   13.2     9.5  10.1  2     2      2
7 7       F   11.5    12.2  14.8  2     2      2
8 8       M   11.5    15.4  12.9  1     1      1

In [ ]:
# Convert the column to a factor
test$scode3 <- factor(test$scode3)
class(test$scode3)

[1] "factor"

In [ ]:
# Mark Those Who control measurement is <7 is low, those who control the measurement is >= 7 is High
test$category[test$control <7] <- "low"
test$category[test$control >= 7] <- "high"
test

  subject sex control cond1 cond2 scode scode2 scode3 category
1 1       M    7.9    12.3  10.7  1     1      1      high
2 2       F    6.3    10.6  11.1  2     2      2      low
3 3       F    9.5    13.1  13.8  2     2      2      high
4 4       M   11.5    13.4  12.9  1     1      1      high
5 5       F   10.5     7.8  11.0  2     2      2      high
6 6       F   13.2     9.5  10.1  2     2      2      high
7 7       F   11.5    12.2  14.8  2     2      2      high
8 8       M   11.5    15.4  12.9  1     1      1      high

In [ ]:
# Convert the category column to a factor
test$category <- factor(test$category)
is.factor(test$category)

[1] TRUE

## Now Manipulating the dataset data

In [ ]:
head(dataset)

  Date      Open    High    Low     Close   Volume
1 1/3/2000  1482.15 1592.90 1482.15 1592.20 0
2 1/4/2000  1594.40 1641.95 1594.40 1638.70 0
3 1/5/2000  1634.55 1635.50 1555.05 1595.80 0
4 1/6/2000  1595.80 1639.00 1595.80 1617.60 0
5 1/7/2000  1616.60 1628.25 1597.20 1613.30 0
6 1/10/2000 1615.65 1662.10 1614.95 1632.95 0

In [ ]:
# 1st quarter, 2nd quarter, Mean, 4th Quarter, 5th Quarted
fivenum(dataset$Close)
quantile(dataset$Close) # PCT Format

[1]   922.68  2322.50  5255.15  8246.30 14644.70

       0%       25%       50%       75%      100%
  922.680  2322.975  5255.150  8245.675 14644.700

In [ ]:
dataset$status[dataset$Open < dataset$Close] <- "Profit"
dataset$status[dataset$Open >= dataset$Close] <- "Loss"
str(dataset)

'data.frame':	5058 obs. of  7 variables:
 $ Date  : chr  "1/3/2000" "1/4/2000" "1/5/2000" "1/6/2000" ...
 $ Open  : num  1482 1594 1635 1596 1617 ...
 $ High  : num  1593 1642 1636 1639 1628 ...
 $ Low   : num  1482 1594 1555 1596 1597 ...
 $ Close : num  1592 1639 1596 1618 1613 ...
 $ Volume: int  0 0 0 0 0 0 0 0 0 0 ...
 $ status: chr  "Profit" "Profit" "Loss" "Profit" ...

In [ ]:
dataset$status <- factor(dataset$status)
is.factor(dataset$status)

[1] TRUE

# Data Merging

In [ ]:
#Create origin dataframe
producers <- data.frame(
  surname = c("Spielberg","Scorsese","Hitchcock","Tarantino", "Polanski"),
  nationality = c("US","US","UK","US","Poland"),
  stringsAsFactors=FALSE
  )

#Create destination dataframe
movies <- data.frame(
  surname = c("Spielberg", "Scorsese", "Hitchcock", "Hitchcock", "Spielberg", "Tarantino", "Polanski"),
  title = c("Super 8", "Taxi Driver", "Psycho", "North by Northwest", "Catch Me If 	You Can", "Reservoir Dogs", "Chinatown"),
  budget = c(45, 5, 8,12, 52, 2, 6),
  stringsAsFactors=FALSE
  )

In [ ]:
#Merge two datasets
m1 <- merge(producers, movies, by = "surname")
m1
dim(m1)

  surname   nationality title                 budget
1 Hitchcock UK          Psycho                 8
2 Hitchcock UK          North by Northwest    12
3 Polanski  Poland      Chinatown              6
4 Scorsese  US          Taxi Driver            5
5 Spielberg US          Super 8               45
6 Spielberg US          Catch Me If \tYou Can 52
7 Tarantino US          Reservoir Dogs         2

[1] 7 4