# Data Preprocessing

In [1]:
dataset <- read.csv("https://raw.githubusercontent.com/laderast/RBootcamp/master/data/pets.csv")
head(dataset)

  id name       weight animal ageCategory shotsCurrent
1 C1 Morris      6     cat    0-2         No
2 C2 Morris      7     cat    5-8         Yes
3 D1 Fido       15     dog    5-8         No
4 D4 Mr Bowser  20     dog    3-4         No
5 D8 Fido       40     dog    3-4         Yes
6 C4 Lady Sheba 10     cat    5-8         No

In [2]:
# Make 2*3 Table
table(dataset$shotsCurrent, dataset$animal)

      cat dog gerbil
  No    3   4      0
  Yes   3   1      0

In [3]:
# Create a new variable with animal+name
dataset$weight_square <- dataset$weight^2
head(dataset)

  id name       weight animal ageCategory shotsCurrent weight_square
1 C1 Morris      6     cat    0-2         No             36
2 C2 Morris      7     cat    5-8         Yes            49
3 D1 Fido       15     dog    5-8         No            225
4 D4 Mr Bowser  20     dog    3-4         No            400
5 D8 Fido       40     dog    3-4         Yes          1600
6 C4 Lady Sheba 10     cat    5-8         No            100

In [4]:
# Create an 'overweight' variable, which gives the value 1 for people with weight_square > 200 and 0 otherwise
dataset$overweight <- ifelse(dataset$weight_square > 200, 1, 0)
dataset$overweight

 [1] 0 0 1 1 1 0 1 1 0 0 0 0

In [5]:
# Show the current directory
getwd()

[1] "/content"

# Removing the missing values from the entire dataset

In [6]:
# List rows of data that have missing values
missing_data <- dataset[!complete.cases(dataset), ]
missing_data

  id name    weight animal ageCategory shotsCurrent weight_square overweight
9 G4 Nibbles 0.2    gerbil 0-2         NA           0.04          0

In [7]:
# Excluding missing from data from dataset
new_dataset <- dataset[complete.cases(dataset), ]

# Analysis

In [8]:
# What are the dimensions of the dataset?
print(dim(new_dataset))
dim(dataset)

[1] 11  8

[1] 12  8

In [9]:
# How many pets are in this dataset? Is this dataset unique?
length(unique(new_dataset$id))
length(new_dataset$id)

[1] 11

[1] 11

In [10]:
# How many dogs and cat in the dataset
unique(new_dataset$animal)

[1] "cat" "dog"

In [11]:
# What are the column/variable names?
names(new_dataset)

[1] "id"            "name"          "weight"        "animal"
[5] "ageCategory"   "shotsCurrent"  "weight_square" "overweight"

In [12]:
# Subsetting Data
dog <- new_dataset[new_dataset$animal == 'dog', ]
cat <- new_dataset[new_dataset$animal == 'cat', ]

which(new_dataset$shotsCurrent == "Yes")

[1]  2  5  8 11

In [13]:
# Subsetting Data for specific column value
dog2 <- new_dataset[new_dataset$animal == 'dog', 1:3]
head(dog2)

   id name      weight
3  D1 Fido      15
4  D4 Mr Bowser 20
5  D8 Fido      40
7  D5 Hubert    60
11 D9 Winky     11

In [14]:
# Data Summaries
mean(new_dataset$weight)

[1] 18.36364

In [15]:
mean(dataset$weight, na.rm = TRUE)
is.na(dataset)

[1] 16.85

      id    name  weight animal ageCategory shotsCurrent weight_square
 [1,] FALSE FALSE FALSE  FALSE  FALSE       FALSE        FALSE
 [2,] FALSE FALSE FALSE  FALSE  FALSE       FALSE        FALSE
 [3,] FALSE FALSE FALSE  FALSE  FALSE       FALSE        FALSE
 [4,] FALSE FALSE FALSE  FALSE  FALSE       FALSE        FALSE
 [5,] FALSE FALSE FALSE  FALSE  FALSE       FALSE        FALSE
 [6,] FALSE FALSE FALSE  FALSE  FALSE       FALSE        FALSE
 [7,] FALSE FALSE FALSE  FALSE  FALSE       FALSE        FALSE
 [8,] FALSE FALSE FALSE  FALSE  FALSE       FALSE        FALSE
 [9,] FALSE FALSE FALSE  FALSE  FALSE        TRUE        FALSE
[10,] FALSE FALSE FALSE  FALSE  FALSE       FALSE        FALSE
[11,] FALSE FALSE FALSE  FALSE  FALSE       FALSE        FALSE
[12,] FALSE FALSE FALSE  FALSE  FALSE       FALSE        FALSE
      overweight
 [1,] FALSE
 [2,] FALSE
 [3,] FALSE
 [4,] FALSE
 [5,] FALSE
 [6,] FALSE
 [7,] FALSE
 [8,] FALSE
 [9,] FALSE
[10,] FALSE
[11,] FALSE
[12,] FALSE

In [16]:
# Check the median value
median(dataset$weight, na.rm = TRUE)

[1] 10.5

In [17]:
# Show the Quanitle value
q <- quantile(dataset$weight)
print(q)

'Specific Quantile value:'
print(quantile(dataset$weight, c(0.3, 0.6)))

   0%   25%   50%   75%  100%
 0.20  6.75 10.50 17.75 60.00

[1] "Specific Quantile value:"

 30%  60%
 7.9 13.4

# Apply Function

In [18]:
data("mtcars")
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [19]:
#row-wise operation
print( apply(mtcars,1,mean) )

          Mazda RX4       Mazda RX4 Wag          Datsun 710      Hornet 4 Drive
           29.90727            29.98136            23.59818            38.73955
  Hornet Sportabout             Valiant          Duster 360           Merc 240D
           53.66455            35.04909            59.72000            24.63455
           Merc 230            Merc 280           Merc 280C          Merc 450SE
           27.23364            31.86000            31.78727            46.43091
         Merc 450SL         Merc 450SLC  Cadillac Fleetwood Lincoln Continental
           46.50000            46.35000            66.23273            66.05855
  Chrysler Imperial            Fiat 128         Honda Civic      Toyota Corolla
           65.97227            19.44091            17.74227            18.81409
      Toyota Corona    Dodge Challenger         AMC Javelin          Camaro Z28
           24.88864            47.24091            46.00773            58.75273
   Pontiac Firebird           Fiat X1-9       Porsche 914-2        Lotus Europa
           57.37955            18.92864            24.77909            24.88027
     Ford Pantera L        Ferrari Dino       Maserati Bora          Volvo 142E
           60.97182            34.50818            63.15545            26.26273

In [20]:
#column-wise operation
print( apply(mtcars, 2, mean) )

       mpg        cyl       disp         hp       drat         wt       qsec
 20.090625   6.187500 230.721875 146.687500   3.596563   3.217250  17.848750
        vs         am       gear       carb
  0.437500   0.406250   3.687500   2.812500

## lapply() Function
- lapply(X, FUN)
- X is the name of the list, vector, or data frame
- FUN is the specific operation you want to perform

In [21]:
#create a data frame with three columns and five rows
data <- data.frame(a = c(1, 3, 7, 12, 9),
                   b = c(4, 4, 6, 7, 8),
                   c = c(14, 15, 11, 10, 6))

data

  a  b c
1  1 4 14
2  3 4 15
3  7 6 11
4 12 7 10
5  9 8  6

In [22]:
#find mean of each column and return results as a list
print( lapply(data, mean) )

$a
[1] 6.4

$b
[1] 5.8

$c
[1] 11.2

In [23]:
#create a list
x <- list(a=1, b=1:5, c=1:10)
print(x)

$a
[1] 1

$b
[1] 1 2 3 4 5

$c
 [1]  1  2  3  4  5  6  7  8  9 10

In [24]:
#find the sum of each element in the list
'sum:'
print( lapply(x, sum) )

#find the mean of each element in the list
'mean:'
print( lapply(x, mean) )

[1] "sum:"

$a
[1] 1

$b
[1] 15

$c
[1] 55

[1] "mean:"

$a
[1] 1

$b
[1] 3

$c
[1] 5.5

## supply Function
- sapply(X, FUN)
- X is the name of the list, vector, or data frame
- FUN is the specific operation you want to perform

In [25]:
#find mean of each column and return results as a vector
print( sapply(data, mean) )

   a    b    c
 6.4  5.8 11.2

In [26]:
#find the sum of each element in the list
"Sum:"
print( sapply(x, sum) )

#find the mean of each element in the list
"Mean:"
print( sapply(x, mean) )

[1] "Sum:"

 a  b  c
 1 15 55

[1] "Mean:"

  a   b   c
1.0 3.0 5.5

## tapply() function
- tapply(X, INDEX, FUN)
- X is the name of the object, typically a vector
- INDEX is a list of one or more factors
- FUN is the specific operation you want to perform

In [27]:
#view first six lines of iris dataset
head(iris)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [28]:
#find the max Sepal.Length of each of the three Species
print( tapply(iris$Sepal.Length, iris$Species, max) )

    setosa versicolor  virginica
       5.8        7.0        7.9

In [29]:
#find the mean Sepal.Width of each of the three Species
print( tapply(iris$Petal.Width, iris$Species, mean) )

    setosa versicolor  virginica
     0.246      1.326      2.026

In [32]:
#find the minimum Petal.Width of each of the three Species
print( tapply(iris$Petal.Width, iris$Species, min) )

    setosa versicolor  virginica
       0.1        1.0        1.4