<a href="https://colab.research.google.com/github/RifatMuhtasim/R_Programming_Language/blob/main/1.10.Logistic_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
df <- read.csv("https://raw.githubusercontent.com/Gajapathy-Selvaraj/Stock_Market_Datasets_NSE/main/NIFTY_50(INDEX)from2000.csv")
head(df)

  Date      Open    High    Low     Close   Volume
1 1/3/2000  1482.15 1592.90 1482.15 1592.20 0
2 1/4/2000  1594.40 1641.95 1594.40 1638.70 0
3 1/5/2000  1634.55 1635.50 1555.05 1595.80 0
4 1/6/2000  1595.80 1639.00 1595.80 1617.60 0
5 1/7/2000  1616.60 1628.25 1597.20 1613.30 0
6 1/10/2000 1615.65 1662.10 1614.95 1632.95 0

In [2]:
labs <- attributes(df)$labels
labs

NULL

In [3]:
str(df$Date)

 chr [1:5058] "1/3/2000" "1/4/2000" "1/5/2000" "1/6/2000" "1/7/2000" ...

In [4]:
levels(df$Date)

NULL

In [5]:
#collapse all missing values to NA
df$Volume <- factor(df$Volume, levels = c("2 No", "1 Yes"))
head(df)

  Date      Open    High    Low     Close   Volume
1 1/3/2000  1482.15 1592.90 1482.15 1592.20 NA
2 1/4/2000  1594.40 1641.95 1594.40 1638.70 NA
3 1/5/2000  1634.55 1635.50 1555.05 1595.80 NA
4 1/6/2000  1595.80 1639.00 1595.80 1617.60 NA
5 1/7/2000  1616.60 1628.25 1597.20 1613.30 NA
6 1/10/2000 1615.65 1662.10 1614.95 1632.95 NA

In [6]:
#run our regression model
reg <- glm(Close ~ High+Low, data=df)
reg

Call:  glm(formula = Close ~ High + Low, data = df)

Coefficients:
(Intercept)         High          Low
    0.04124      0.52042      0.47940

Degrees of Freedom: 5057 Total (i.e. Null);  5055 Residual
Null Deviance:	    5.901e+10
Residual Deviance: 6376000 	AIC: 50470

In [7]:
coef(summary(reg))

            Estimate   Std. Error  t value     Pr(>|t|)
(Intercept) 0.04124454 0.990072856  0.04165808 0.9667729
High        0.52041581 0.007861909 66.19458917 0.0000000
Low         0.47940204 0.007929193 60.46038368 0.0000000

In [8]:
reg_tab <- coef(summary(reg))
reg_tab[, "Estimate"] <- exp(coef(reg))
reg_tab

            Estimate Std. Error  t value     Pr(>|t|)
(Intercept) 1.042107 0.990072856  0.04165808 0.9667729
High        1.682727 0.007861909 66.19458917 0.0000000
Low         1.615108 0.007929193 60.46038368 0.0000000

In [9]:
dev.off()

null device
          1